.navbar-header {
	align-items: center;
    display: inline-flex;
}

.form-gr-tim{
	display: flex;
}

.form-ctrl-tim {
    width: 70%;
    margin-right: 10px;
    display: inline-block;
}

.fa-greenicon{
	color: #9CCC65;
}

.fa-orangeicon{
	color: #FF7043;
}

.alert.alert-xoa{
	position: absolute;
	right:0;
	bottom:0;
}


